html,
body {
  background: url(black.jpg) no-repeat center center fixed; 
  background-size: cover;
  height: 100%;
  width: 100%;
  font-family: 'Montserrat', sans-serif;

}

h1{
    box-decoration-break: clone;
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
}



h2{
    color: white;
    text-align: center;
    font-family:'Montserrat',sans-serif;
    margin: 150px 150px 20px 20px;
}

.h2wala{
    text-align: center;
}

.boxmodel{
    border: 2px outset wheat;
    margin: 100px 20px;
    padding: 100px 100px;
    box-shadow: 4px 4px 5px #999999;

}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

img{
    width: 300px;
    height: 200px;
    margin:10px;
    transition: all 1s;
}

img:hover{
    transform: scale(1.2);
}


.btn {
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 300px;
    text-align: center;
  }
  
  .btn-primary {
    background-color: #F05F44;
    border-color: #F05F44; 
    text-align: center;
}
  
  .btn-primary:hover {
    background-color: #ee4b08;
    border-color: #ee4b08;
    border-width: 4px;
    cursor: pointer;
  }
  
  .btn-xl {
    padding: 1rem 2rem; 
    text-align: center;
  }